
<!doctype html>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"  lang="en">
<head>
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/faces/office-building.png">
    <link rel="icon" type="image/png" href="/assets/img/faces/office-building.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
    <link rel="stylesheet" href="webjars/font-awesome/5.15.3/css/all.min.css">
    <script src="/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
    <link rel="stylesheet" href="/css/dashboard.min.css?v=2.1.2"/>
    <link href="/css/material-dashboard.css" rel="stylesheet" />
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">-->

    <title>Dashboard</title>
</head>
<body >


<div class="modal fade" id="modalDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Details</h5>
                <button type="button" class="close"  data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <table class="table ">
                    <tr>
                        <th colspan="3" class="text-center">Leave Application Information</th>
                    </tr>
                    <tr>
                        <th>Date Of Leave </th>
                        <td>:</td>
                        <td id="date"></td>
                    </tr>
                    <tr>
                        <th>NIP </th>
                        <td>:</td>
                        <td id="Nipp"></td>
                    </tr>
                    <tr>
                        <th>Ful Name </th>
                        <td>:</td>
                        <td id="NAMA"></td>
                    </tr>
                    <tr>
                        <th>Division </th>
                        <td>:</td>
                        <td id="DIVISION"></td>
                    </tr>
                    <tr>
                        <th>Telp/Hp </th>
                        <td>:</td>
                        <td id="noTelp"></td>
                    </tr>
                    <tr>
                        <th>Email </th>
                        <td>:</td>
                        <td id="EMAILl"></td>
                    </tr>
                    <tr>
                        <th>Description </th>
                        <td>:</td>
                        <td id="description"></td>
                    </tr>
                    <tr>
                        <th>Long Leave </th>
                        <td>:</td>
                        <td id="lamaCuti"></td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="modalLoad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <center>
                    <lord-icon
                            src="https://cdn.lordicon.com/rhvddzym.json"
                            trigger="loop"
                            colors="primary:#121331,secondary:#08a88a"
                            style="width:250px;height:250px">
                    </lord-icon>
                </center>
            </div>

        </div>
    </div>
</div>



<div class="modal fade" id="modalSure" tabindex="-1" role="dialog" aria-labelledby="modalSureLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSureLabel"></h5>
                <button type="button" class="close"  data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                <div class="modal-body">
                    <input type="text" id="Id" hidden><input type="text" id="jenis" hidden>
                    <span>Are you sure <span id="modalSureLabel1"></span> </span>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button"  onclick="accRejected()" class="btn btn-primary">Yes</button>
                </div>


        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close"  data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="javascript:save()" id="save">
                <div class="modal-body">
                    <div class="mb-1">
                        <label for="nip" class="form-label">Nip</label>
                        <input type="text" class="form-control" id="nip" required>
                    </div>
                    <div class="mb-1">
                        <label for="namaLengkap" class="form-label">Full Name</label>
                        <input type="text" class="form-control" id="namaLengkap" required>
                    </div>
                    <div class="mb-3">
                        <label for="divisi" class="form-label">Division</label>
                        <input type="text" class="form-control" id="divisi" required>
                    </div>
                    <div class="mb-1">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" required>

                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" required>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit"  class="btn btn-primary" >Save changes</button>
                </div>
            </form>

        </div>
    </div>
</div>
<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" >
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

          Tip 2: you can also add an image using data-image tag
      -->
        <div class="logo" id="cek"><a href="/Dashboard" class="simple-text logo-normal">
            <lord-icon
                    src="https://cdn.lordicon.com/vlupvdhl.json"
                    trigger="hover"
                    colors="primary:#121331,secondary:#a866ee"
                    axis-x="50"
                    style="width:180px;height:180px">
            </lord-icon>
            <br>
            Group 2
        </a></div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item active  ">
                    <a class="nav-link" href="/Dashboard">
                        <lord-icon
                                src="https://cdn.lordicon.com/jvucoldz.json"
                                trigger="hover"
                                colors="primary:#ffffff,secondary:#ffffff"
                                style="width:50px;height:50px">
                        </lord-icon>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/Profile">
                        <lord-icon
                                src="https://cdn.lordicon.com/dxjqoygy.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#a866ee"
                                style="width:50px;height:50px">
                        </lord-icon>
                        Profile
                    </a>
                </li>

                <li class="nav-item " id="cuti">
                    <a class="nav-link" href="/RequestLeave">
                        <lord-icon
                                src="https://cdn.lordicon.com/puvaffet.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#a866ee"
                                style="width:50px;height:50px">
                        </lord-icon>
                        Request Leave
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/AboutUs">
                        <lord-icon
                                src="https://cdn.lordicon.com/nobciafz.json"
                                trigger="hover"
                                colors="primary:#121331,secondary:#a866ee"
                                style="width:50px;height:50px">
                        </lord-icon>
                        About Us
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:;">Dashboard</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">

                    <ul class="navbar-nav">

                        <li>Hi, <span id="user"></span></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Account
                                </p>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                <a class="dropdown-item" href="/Profile">Profile</a>
                                <a class="dropdown-item" href="/Setting">Settings</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar -->

        <div class="content">
            <div class="container-fluid">
                <div class="alert alert-info " id="notif" role="alert" style="display: none">
                    successfully added <a href="#" class="alert-link">
                    click here </a>for more information.
                </div>
                <div class="row">

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon">
                                    <i class="fas fa-user-tie"></i>
                                </div>
                                <p class="card-category">Number Of Employee</p>
                                <h3 class="card-title" id="countEmployee"></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" id="employeLeave" >
                        <div class="card card-stats">
                            <div class="card-header card-header-danger card-header-icon">
                                <div class="card-icon">
                                    <i class="fas fa-user-minus"></i>
                                </div>
                                <p class="card-category">Employees On Leave</p>
                                <h3 class="card-title">75</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6" id="activeEmployee" >
                        <div class="card card-stats">
                            <div class="card-header card-header-info card-header-icon">
                                <div class="card-icon">
                                    <i class="fas fa-user-check"></i>
                                </div>
                                <p class="card-category">Active Employees</p>
                                <h3 class="card-title">+245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-rose card-header-icon">
                                <div class="card-icon">
                                    <i class="far fa-question-circle"></i>
                                </div>
                                <p class="card-category">Request For Leave</p>
                                <h3 class="card-title RequestLeavein"></h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<!--                Hrd-->
                <div id="Hrd" style="display: none">
                <div class="row" >
                    <div class="col-lg-6 col-md-12" >
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-primary">
                                <div class="nav-tabs-navigation col-9">

                                        <h4 class="card-title">Request For Leave</h4>
                                        <p class="card-category">The entry submission has been updated</p>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="profile">
                                        <table class="table">
                                            <thead class="text-warning">
                                            <th>Name</th>
                                            <th>Date Of Leave</th>
                                            <th>Long Leave</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            </thead>
                                            <tbody id="RequestLeave">

                                            </tbody>
                                        </table>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(0,10,1)">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(10,10,2)">2</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(20,10,3)">3</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(30,10,4)">4</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(40,10,5)">5</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(50,10,6)">6</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(60,10,7)">7</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(70,10,8)">8</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(80,10,9)">9</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(90,10,10)">10</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <div class="row justify-content-center">
                                    <div class="col-9">
                                        <h4 class="card-title">Employees</h4>
                                        <p class="card-category">Employee list has been updated</p>
                                    </div>
                                    <div class="col-3">
                                        <button type="button" class="btn btn-outline-warning btn-link btn" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                                            <i class="fas fa-plus-square fa-3x" style="color: whitesmoke;"></i>
                                        </button>
                                    </div>
                                    <!-- Modal -->

                                </div>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Division</th>
                                    <th>Email</th>
                                    </thead>
                                    <tbody id="tbody">


                                    </tbody>
                                </table>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(0,10,1)">1</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(10,10,2)">2</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(20,10,3)">3</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(30,10,4)">4</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(40,10,5)">5</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(50,10,6)">6</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(60,10,7)">7</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(70,10,8)">8</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(80,10,9)">9</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(90,10,10)">10</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
<!--                karyawan-->
                <div class="row" id="karyawan" style="display: none">
                    <div class="col-lg-12 col-md-12" >
                        <div class="card">
                            <div class="card-header card-header-tabs card-header-primary">
                                <div class="nav-tabs-navigation">

                                    <h4 class="card-title">Request For Leave</h4>
                                    <p class="card-category">The entry submission has been updated</p>

                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="profileKaryawan">
                                        <table class="table">
                                            <thead class="text-warning">
                                            <th>No</th>
                                            <th>Name</th>
                                            <th>Date Of Leave</th>
                                            <th>Description</th>
                                            <th>Long Leave</th>
                                            <th>Substitute</th>
                                            <th>Status</th>

                                            </thead>
                                            <tbody id="RequestLeaveKaryawan">

                                            </tbody>
                                        </table>
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(0,10,1)">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(10,10,2)">2</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(20,10,3)">3</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(30,10,4)">4</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(40,10,5)">5</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(50,10,6)">6</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(60,10,7)">7</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(70,10,8)">8</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(80,10,9)">9</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:initLeave(90,10,10)">10</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12">
                        <div class="card">
                            <div class="card-header card-header-warning">
                                <div class="row justify-content-center">
                                    <div class="col-12">
                                        <h4 class="card-title">Employees</h4>
                                        <p class="card-category">Employee list has been updated</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>No</th>
                                    <th>Role</th>
                                    <th>Nip</th>
                                    <th>Name</th>
                                    <th>Division</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    </thead>
                                    <tbody id="tbodyKaryawan">


                                    </tbody>
                                </table>
                                <hr>
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(0,10,1)">1</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(10,10,2)">2</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(20,10,3)">3</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(30,10,4)">4</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(40,10,5)">5</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(50,10,6)">6</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(60,10,7)">7</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(70,10,8)">8</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(80,10,9)">9</a></li>
                                        <li class="page-item"><a class="page-link" href="javascript:init(90,10,10)">10</a></li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="float-left">
                    <ul>
                        <li>

                                Group 2

                        </li>
                        <li>
                            <a href="/AboutUs">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/iqbalsihabudin/sytem-cuti-karyawan" target="_blank">
                                Github
                            </a>
                        </li>

                    </ul>
                </nav>
                <div class="copyright float-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, UAS Java Lanjutan <i class="material-icons">favorite</i> by Group 2
                </div>
            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script type="text/javascript" src="webjars/jquery/3.2.0/jquery.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap-material-design.min.js"></script>

<script>
    var no = 0; var sum =0;
    var nomor = 0; var nomer=0;
    controller();

    EmployeeCount();
    RequestLeaveCount();

    function controller() {

        fetch('/api/employee/userLogin')
            .then(response => response.json())
            .then(data => {

                console.log(data)
                show(data);

                function show(employee) {
                    document.getElementById('user').innerHTML = employee.namaLengkap;
                    if(employee.role.roleId == '1'){
                        document.getElementById('Hrd').style.display = 'block';
                        document.getElementById('cuti').style.display= 'none';
                        const url = getUrl(0,10);
                        const urlLeave = getUrlLeave(0,10);
                        tampilkanEmployee(url);
                         tampilkanRequestLeave(urlLeave);

                    }else {
                        document.getElementById('karyawan').style.display = 'block';
                        const url = getUrl(0,10);
                        const urlLeave = getUrlLeave(0,10);
                        tampilkanEmployeeKaryawan(url);
                        tampilkanRequestLeaveKaryawan(urlLeave);

                    }

                }
            });
    }

    function EmployeeCount() {
        fetch('/api/employee/employeeCount')
            .then(response => response.json())
            .then(data => {
                console.log(data)
                const tbody = document.getElementById('countEmployee');

                tbody.innerHTML += data


            });
    }
    function RequestLeaveCount() {
        fetch('/api/pengajuanCuti/countOpenpc')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                const tbody = document.getElementsByClassName('RequestLeavein');
                var i;
                for (i = 0; i < tbody.length; i++) {
                    tbody[i].innerHTML += data;
                }



            });
    }

    function init(start,limit,page) {
        const url = getUrl(start,limit);
        const bodi = document.getElementById('tbody');
        bodi.innerHTML="";
        const karbodi = document.getElementById('tbodyKaryawan');
        karbodi.innerHTML="";
        tampilkanEmployee(url,page);
        tampilkanEmployeeKaryawan(url,page);
    }

    function getUrl(start, limit) {
        console.log(start+limit)
        return 'http://localhost:8083/api/employee/findAllByLimit/?start='+start+'&limit='+limit+'';
    }
    function initLeave(start,limit,page) {
        const url = getUrlLeave(start,limit);

        const leave = document.getElementById('RequestLeave');
        leave.innerHTML="";
        const leavekaryawan = document.getElementById('RequestLeaveKaryawan');
        leavekaryawan.innerHTML="";
        tampilkanRequestLeave(url,page);
        tampilkanRequestLeaveKaryawan(url,page);
    }

    function getUrlLeave(start, limit) {
        console.log(start+limit)
        return 'http://localhost:8083/api/detailPengajuanCuti/findAllByLimit/?start='+start+'&limit='+limit+'';
    }

    function tampilkanEmployeeKaryawan(url,page) {

       switch (page) {
           case 1 : nomor=0;break;
           case 2 : nomor=10;break;
           case 3 : nomor=20;break;
           case 4 : nomor=30;break;
           case 5 : nomor=40;break;
           case 6 : nomor=50;break;
           case 7 : nomor=60;break;
           case 8 : nomor=70;break;
           case 9 : nomor=80;break;
           case 10 : nomor=90;break;

       }

        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('tbodyKaryawan');
                data.forEach(employee => showTable(employee));

                function showTable(employee) {
                    nomor+=1;
                        tbody.innerHTML += `<td>`+nomor+`</td>
                            <td>` + employee.role.nameRole + `</td>
                            <td> ` + employee.nip + `</td>
                            <td> ` + employee.namaLengkap + `</td>
                            <td>` + employee.divisi + `</td>
                            <td>` + employee.email + `</td>
                            <td>` + employee.username + `</td>`

                }
            });
    }

    function tampilkanEmployee(url,page) {
        switch (page) {
            case 1 : no=0; break;
            case 2 : no=10;break;
            case 3 : no=20;break;
            case 4 : no=30;break;
            case 5 : no=40;break;
            case 6 : no=50;break;
            case 7 : no=60;break;
            case 8 : no=70;break;
            case 9 : no=80;break;
            case 10 : no=90;break;

        }

        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('tbody');
                data.forEach(employee => showTable(employee));

                function showTable(employee) {
                    no+=1;
                        tbody.innerHTML += `<td>` + no + `</td>
                            <td> ` + employee.namaLengkap + `</td>
                            <td> ` + employee.role.nameRole + `</td>
                            <td>` + employee.divisi + `</td>
                            <td>` + employee.email + `</td>`
                }
            });
    }
    function tampilkanRequestLeaveKaryawan(url,page) {
        switch (page) {
            case 1 : nomer=0;break;
            case 2 : nomer=10;break;
            case 3 : nomer=20;break;
            case 4 : nomer=30;break;
            case 5 : nomer=40;break;
            case 6 : nomer=50;break;
            case 7 : nomer=60;break;
            case 8 : nomer=70;break;
            case 9 : nomer=80;break;
            case 10 : nomer=90;break;

        }
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('RequestLeaveKaryawan');
                data.forEach(leave => showTable(leave));

                function showTable(leave) {
                        nomer+=1;
                        tbody.innerHTML += `<td>` + nomer + `</td>
                            <td>` + leave.pengajuanCuti.employee.namaLengkap + `</td>
                            <td>` + getFormattedDate(leave.tglCuti) +  `</td>
                            <td>` + leave.pengajuanCuti.keterangan +  `</td>
                            <td>` + leave.pengajuanCuti.lamaCuti +` days</td>
                            <td>` + leave.pengajuanCuti.pengganti.namaLengkap + `</td>
                            <td>` + leave.pengajuanCuti.statusCuti.statusCuti + `</td>`
                    
                }
            });
    }
    function tampilkanRequestLeave(url,page) {
        switch (page) {
            case 1 : nomer=0;break;
            case 2 : nomer=10;break;
            case 3 : nomer=20;break;
            case 4 : nomer=30;break;
            case 5 : nomer=40;break;
            case 6 : nomer=50;break;
            case 7 : nomer=60;break;
            case 8 : nomer=70;break;
            case 9 : nomer=80;break;
            case 10 : nomer=90;break;

        }
        fetch(url)
            .then(response => response.json())
            .then(data => {
                const tbody = document.getElementById('RequestLeave');
                data.forEach(leave => showTable(leave));

                function showTable(leave) {
                        var data = leave;
                        console.log(data);
                    if (leave.pengajuanCuti.statusCuti.statusCutiId == '2'){
                        tbody.innerHTML += `<td>` + leave.pengajuanCuti.employee.namaLengkap + `</td>
                            <td>` + getFormattedDate(leave.tglCuti) +  `</td>
                            <td>` + leave.pengajuanCuti.lamaCuti +` days</td>
                            <td>` + leave.pengajuanCuti.statusCuti.statusCuti + `</td>
                            <td class="td-actions text-right">

                                <button  type="button" rel="tooltip" title="Approved"  onclick="modalController('Approved ',\`` + leave.pengajuanCuti.employee.namaLengkap + `\`,\`` +leave.pengajuanCuti.pengajuanCutiId +`\`)" class="btn btn-primary btn-link btn-sm">
                                    <i class="material-icons">check</i>
                                </button> &nbsp;
                                <button type="button" rel="tooltip" title="Rejected" onclick="modalController('Rejected ',\`` + leave.pengajuanCuti.employee.namaLengkap + `\`,\`` +leave.pengajuanCuti.pengajuanCutiId+`\`)" class="btn btn-danger btn-link btn-sm">
                                    <i class="material-icons">close</i>
                                </button> &nbsp;
                                <button type="button" rel="tooltip" title="Details" onclick="modalController('Detail',\`` + leave.pengajuanCuti.employee.namaLengkap  +`\`,\``+leave.detailPengajuanCutiId+`\`)"class="btn btn-info btn-link btn-sm" >
                                     <span class="material-icons">info</span>
                                </button>

                            </td>`
                    }
                }
            });
    }
    function getFormattedDate(date) {

        var date = new Date(date);
        return (((date.getDate() > 9) ? date.getDate() : ('0' + date.getDate())) + '/' +((date.getMonth() > 8) ? (date.getMonth() + 1) : ('0' + (date.getMonth() + 1))) + '/' + date.getFullYear());
    }


    const formSave = document.getElementById('save');
    const tbody = document.getElementById('tbody');
    const myModal = document.getElementById('exampleModal')

    async function save() {

        $('#modalLoad').modal('toggle');
        $('#exampleModal').modal('toggle');
        await fetch('api/employee/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'nip': formSave.nip.value,
                'namaLengkap': formSave.namaLengkap.value,
                'divisi': formSave.divisi.value,
                'email': formSave.email.value,
                'username': formSave.username.value,
                'role' : {
                    "roleId": 2
                }
            })
        })
            .then(response => {
                $('#modalLoad').modal('toggle');
                document.getElementById('notif').style.display = 'block'
                setTimeout(function(){
                    document.getElementById('notif').style.display = 'none' ;
                }, 3000);
            });
        tbody.innerHTML = '';
        init(0,10,1);
        EmployeeCount();
    }
    function modalController(jenis,nama,id) {
        if (jenis === "Detail"){
            alert(id);
            $('#modalDetail').modal('toggle');

            document.getElementById('NAMA').innerText=nama;

        }else{
        document.getElementById('Id').value=id;
        document.getElementById('jenis').value=jenis;
        document.getElementById('modalSureLabel').innerHTML=jenis;
        document.getElementById('modalSureLabel1').innerHTML=jenis+"Request Leave From "+nama  +" ?";

        $('#modalSure').modal('toggle');
        }
    }

    async function accRejected() {
        const jenis = document.getElementById('jenis').value;
        const id = document.getElementById('Id').value;
        if (jenis === "Approved "){

            await fetch('http://localhost:8083/api/pengajuanCuti/acc/'+id, {method:'PUT'})

                .then(response => {
                    $('#modalSure').modal('toggle');
                    console.log(response.json())
                });
            document.getElementById('RequestLeave').innerHTML="";
            tampilkanRequestLeave();

        }else if(jenis === "Rejected "){

            await fetch('http://localhost:8083/api/pengajuanCuti/reject/'+id, {method:'PUT'})

                .then(response => {
                    $('#modalSure').modal('toggle');
                    console.log(response.json())
                });
            document.getElementById('RequestLeave').innerHTML="";
            tampilkanRequestLeave();
        }
    }



</script>

</body>
</html>